/*VARIABLES*/

$color-light: #ffffff;
$color-dark: #000000;
$color-main: #ccac00;
$font-header-main: 'Poppins', sans-serif;
$font-header-secondary: 'Mulish', sans-serif;
$font-text: 'Libre Franklin', sans-serif;
$font-logo: 'Lobster', cursive;
$font-color-grey: #808080;

/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
}
header {
    align-content: center;
    position: relative;
}
section {
    padding-top: 96px;
    padding-bottom: 96px;
}
.container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
.page-title {
    font-family: $font-header-main;
    color: $color-light;
    font-size: 75px;
    text-shadow: 2px 2px $color-dark;
    line-height: 1;
}
.page-subtitle {
    font-family: $font-header-secondary;
    color: $color-light;
    font-size: 45px;
    text-shadow: 2px 2px $color-dark;
    line-height: 1;
    padding-top: 70px;
}
.section-title{
    font-family: $font-header-main;
    font-size: 40px;
    color: $color-dark;
    text-align: center;
    line-height: 0;
}
.section-subtitle {
    font-family: $font-header-secondary;
    font-size: 20px;
    color: $color-dark;
    text-align: center;
    position: relative;
}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border: none;
    background-position: 100% 0;
    background-size: 300%;
    color: $color-light;
    border-radius: 5px;
    border-style: solid;
}
.btn-logo {
    transform: scale(2);
    border: none;
    font-family: $font-logo;
    color: $color-main;
    font-size: 25px;
}
.btn-top-list {
    border: none;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 16px;
    background: none;
    min-width: auto;
    min-height: auto;
    font-family: $font-header-main;
}
.btn-main {
    border-color: $color-main;
    background-color: $color-main;
    font-family: $font-header-main;
}

/*INTRO*/

.intro {
    min-width: 100%;
    min-height: 700px;
    background-image: url('https://images.pexels.com/photos/1684149/pexels-photo-1684149.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    .top-bar {
        min-width: 100%;
    }
}
.top-logo {
    flex: 0 0 20%;
}
.top-navigation {
    flex: 0 0 80%;
    display: flex;
    justify-content: flex-end;
    padding: 0auto;
    margin: 0auto;
    padding-right: 50px;
    position: relative;
    li {
        display: inline-block;
    }
}
.splash {
    min-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
 /*SERVICES*/

 .services {
    position: relative;
    min-height: 500px;
    width: 100%;
    .section-subtitle {
        font-size: 30px;
        color: $font-color-grey;
    }
    i {
        color: $color-main;
        height: 70px;
        width: 70px;
        font-size: 50px;
        border-style: solid;
        border-radius: 70px;
        border-color: $color-main;
    }
    p {
        font-size: 24px;
        color: $font-color-grey;
    }
}

.first-box {
    flex: 0 0 33.333%;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    padding: 36px;
    text-align: center;
}
.second-box {
    flex: 0 0 33.333%;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    padding: 36px;
    text-align: center;
}
.third-box {
    flex: 0 0 33.333%;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    padding: 36px;
    text-align: center;
}

.section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
    position: relative;
}
.service-title {
    font-size: 30px;
    margin: 0 0 12px 0;
    padding-top: 20px;
}

/*PORTFOLIO*/

.our-portfolio {
    background-color: #f1f2f6;
}
.card {
    flex: 0 0 33.333%;
    position: relative;
    min-height: 450px;
    padding: 36px;
    .card-image {
        height: 80%;
        width: 100%;
        position: relative;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }
    .card-description {
        background-color: $color-light;
    }
}

/*FOOTER*/

footer {
    justify-content: center;
}
footer ul {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    li {
        display: inline-block;
        margin: 15px;
        i {
            color: $color-light;
            font-size: 45px;
            height: 70px;
            width: 70px;
            border-radius: 100%;
            background-color: $color-dark;
            text-align: center;
            padding-top: 10px;
        }
    }
}

/*MEDIA*/

@media (max-width: 1280px) {
    .top-bar {
        flex-direction: column;
        .top-navigation ul {
            width: 100%;
            padding: 0;
            display: inline-flex;
            align-content: stretch;
        }
     }
    .card {
        padding-bottom: 65px;
        max-height: 300px;
    }
    .first-box {
        flex: 0 0 50%
    }
    .second-box {
        flex: 0 0 50%;
    }
    .third-box {
        flex: 0 0 100%;
    }
    .section-title {
        font-size: 30px;
    }
     footer {
         transform: scale(0.7);
    }
}
@media (max-width: 767px) {
    .page-subtitle {
        padding-top: 0px;
    }
    .top-navigation ul {
        display: flex;
        padding-right: 0px;
        margin-right: 0px;
        a {
            font-size: 7px;;
        }
    }
    .card {
        flex: 0 0 100%;
    }
    .first-box {
    flex: 0 0 100%
    }
    .second-box {
        flex: 0 0 100%;
    }
    .third-box {
        flex: 0 0 100%;
    }
    footer {
        transform: scale(0.5);
    }
}